body {
    background-color: rgb(31, 31, 31);
    color: rgb(194, 194, 194);
    font-family: 'Uncial Antiqua', cursive;
}

.ficha {
    background-color: rgb(51, 51, 51);
    padding: 16px;
    border-radius: 12px;
}

.nombre {
    color: rgb(255, 255, 227);
    font-size: large;
    font-weight: bold;
}

.clase {
    color: rgb(181, 218, 247);
}

.stats {
    list-style: none;
    padding: 16px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.vida {
    color: rgb(255, 217, 0);
    font-weight: bold;
}

a {
    color: rgb(255, 217, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(121, 103, 2);
}

[data-tipo="heroe"] {
    border: 5px solid rgb(130, 209, 3);
}

[data-tipo="villano"] {
    border: 5px solid rgb(2, 150, 236);
}

#titulo-galeria {
    letter-spacing: 1px;
    border-bottom: 2px solid rgb(255, 217, 0);
    padding-bottom: 8px;
    display: inline-block;
}

.redes-pagina p {
    font-style: italic;
}

.redes-pagina > p {
    background-color: #2a2a2a;
    padding: 8px 12px;
    border-radius: 6px;
}

h3 + p {
    margin-top: 16px;
    border-top: 2px solid rgb(255, 217, 0);
    padding-top: 12px;
}

h3 p {
    color: rgb(255, 217, 0);
    font-weight: bold;
}

.resaltado{
    border: 2px solid rgb(119, 5, 5);
}

.borde-redondeado {
  border-radius: 12px;
}